.request-message {
  animation: text 5s infinite ease-in-out;
  
}

@keyframes text {
  0%{
    transform: translate(0, 0);
    color: rgba(238, 52, 101, 1);
  }
  
  100%{
    transform: translate(-75%, 0);
    color: rgba(238, 52, 101, .1);
  }
}