@import url("../../vendor/normalize.css");
@import url("../../vendor/fonts/fonts.css");

/* * {
  border: 0.5px solid red;
} */

.root {
  background-color: rgba(32, 32, 32, 1);
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

:root {
  --dark-turquoise: rgba(7, 48, 66, 1); /* var(--dark-turquoise) */
  --main-background: rgba(32, 32, 32, 1); /* var(--main-background) */
  --dark-grey: rgba(39, 39, 39, 1); /* var(--dark-grey) */
  --middle-grey: rgba(47, 47, 47, 1); /* var(--middle-grey) */
  --grey: rgba(139, 139, 139, 1); /* var(--grey) */
  --light-grey: rgba(218, 218, 218, 1); /* var(--light-grey) */
  --blue: rgba(66, 133, 244, 1); /* var(--blue) */
  --green: rgba(61, 220, 132, 1); /* var(--green) */
  --pink: rgba(238, 52, 101, 1); /* var(--pink) */
}

/*стилизация кнопок при наведении*/
button:enabled { /*до модификации*/
  transition: all 0.5s linear;
  cursor: pointer;
}

button:enabled:hover { /*по наведению*/
  opacity: 0.8;
}

button:disabled { /*не активна*/
  background-color: gray;
  color: var(--middle-grey);
}

/*стилизация линков при наведении*/
:any-link:hover {
  font-weight: 500;
  cursor: pointer;
}

:any-link {
  text-decoration: none;
}

p,
a,
h1,
h2,
h3,
h4,
article,
button,
input,
label {
  color: white;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page {
  display: grid;
  margin: 0;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "header"
    "content"
    "footer";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  width: 100%;
}

.content {
  grid-area: content;
  position: relative; /*задается поскольку дочерний элемент popup имеет position fixed*/
}

.size-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  .size-container {
    max-width: 709px;
  }
}

@media screen and (max-width: 720px) {
  .size-container {
    max-width: 292px;
  }
}
