@media screen and (max-width: 1200px) {
  .section-frame {
    margin: 0 auto;
  }
}

.section-frame__title {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.88px;
  line-height: normal;
  padding: 0 0 23px;
  border-bottom: solid 1px var(--light-grey);
}

@media screen and (max-width: 720px) {
  .section-frame__title {
    font-size: 18px;
    letter-spacing: -0.72px;
    padding: 0 0 28px;
  }
}