.card-list {
  padding: 78px 0 0;
}

@media screen and (max-width: 720px) {
  .card-list {
    padding: 55px 0 0;
  }
}

.card-list__size-container {
  display: flex;
  row-gap: 30px;
  column-gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .card-list__size-container {
    row-gap: 36px;
    column-gap: 31px;
  }
}

@media screen and (max-width: 720px) {
  .card-list__size-container {
    row-gap: 15px;
  }
}
