.card {
  background-color: var(--dark-grey);
  justify-content: space-between;
  /* padding: 70px 0 30px; */
  padding: 0;
  max-width: 364px;
  max-height: 271px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  list-style: none;
}

.card__size-container {
  
}

/* .card__shadow {
  background-color: red;
  
  height: 100%;
  width: 100%px;
} */

.card__image {
  height: 203px;
  object-fit: cover;
  width: 364px;
  background-image: url(../../images/image.jpg);
}

.card__header {
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  color: white;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  width: 280px;
  
}

.card__subtitle {
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 400;
  color: var(--grey);
  font-size: 11px;
  height: 13px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.card__delete-icon {
  width: 30px;
  height: 30px;
  border-radius: 36px;
  background: var(--middle-grey);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: auto;
  border: none;
  background-image: url(../../images/delete-movie-button.svg);
  margin: 0;
  padding: 0;
  transition: opacity 0.5s ease-in;
  cursor: pointer;
}

.card__info {
  display: flex;
  padding: 14px;
  justify-content: space-between;
}

.card__text-block {
  display: flex;
  flex-direction: column;
  gap: 9px;
}