.learn-more {
  padding: 80px 0 93px;
}

.learn-more__button {
  width: 100%;
  margin: auto;
  background-color: var(--middle-grey);
  border-radius: 6px;
  height: 36px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  border: none;
}

.learn-more__message{
  text-align: center;
}

.learn-more__none {
  display: none;
}
