.profile__container {
  padding: 45px 0;
  max-width: 410px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .profile__container {
    padding: 205px 0;
  }
}

@media screen and (max-width: 720px) {
  .profile__container {
    max-width: 260px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 0;
  }
}

.profile__wellcome {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin: 30px 0 115px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .profile__wellcome {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin: 33px 0 87px;
    text-align: center;
  }
}

@media screen and (max-width: 720px) {
  .profile__wellcome {
    text-align: center;
    margin: 9px 0 75px;
  }
}

.profile__change-data {
  color: var(--grey);
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: none;
  grid-area: button;
  margin: 0;
}

.profile__change-data:disabled {
  color: rgba(238, 52, 101, 1);
  background-color: transparent;
}

.profile__change-data_type_link {
  color: var(--grey);
  margin: 15px 0 0;
}

@media screen and (max-width: 1200px) {
  .profile__change-data_type_link {
    /* margin: 15px 0 0; */
    font-size: 12px;
  }
}

@media screen and (max-width: 720px) {
  .profile__change-data_type_link {
    margin: 10px 0 0;
  }
}

.profile__input {
  border-left: none;
  border-right: none;
  border-top: none;
  line-height: 15px;
  padding: 13px 0 22px; /*расстояние до черты и над плейсхолдером*/
  box-sizing: border-box;
  border-bottom: 1px var(--middle-grey) solid;
  background-color: var(--main-background);
  color: white;
  width: 100%;
  text-align: right;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  z-index: 0;
}

.profile__input:focus {
  outline: none;
  background-color: transparent;
}

.profile__input:last-of-type {
  border-bottom: none;
}

.profile__input:invalid {
  color: var(--pink);
}

.profile__label {
  max-height: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: normal;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  text-align: left;
  position: relative;
  padding: 6px 0 18px;
  border-bottom: 1px var(--middle-grey) solid;
}

.profile__label:last-of-type {
  border-bottom: none;
}

.profile__label_type_grid1 {
  grid-area: labelName1;
}

.profile__input_type_grid2 {
  grid-area: inputName2;
}

.profile__label_type_grid3 {
  grid-area: labelName3;
}

.profile__input_type_grid4 {
  grid-area: inputName4;
}

.profile__form {
  /*решено оставить первое пустое поле для добавления инпутов в будущем*/
  display: grid;
  justify-content: center;
  grid-template-rows: 36px 36px 36px 132px 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "labelName1 inputName2"
    "labelName3 inputName4"
    ". ."
    ". ."
    "button button";
  grid-row-gap: 12px;
}

@media screen and (max-width: 1200px) {
  .profile__form {
    grid-template-rows: 36px 36px 36px 120px 20px;
  }
}

@media screen and (max-width: 720px) {
  .profile__form {
    grid-template-rows: 36px 36px 36px 285px 20px;
  }
}
