.form__button {
  background-color: var(--blue);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  border-radius: 3px;
  width: 396px;
  height: 45px;
  border: none;
  margin: 192px 0 16px;
}

@media screen and (max-width: 1200px) {
  .form__button {
    margin: 196px 0 16px;
  }
}

@media screen and (max-width: 720px) {
  .form__button {
    max-width: 260px;
    margin: 284px 0 14px;
    font-size: 12px;
  }
}

.form__button_type_reg {
  margin: 125px 0 16px;
}

@media screen and (max-width: 1200px) {
  .form__button_type_reg {
    margin: 126px 0 16px;
  }
}

@media screen and (max-width: 720px) {
  .form__button_type_reg {
    margin: 215px 0 16px;
  }
}

/**/
.form__input:focus {
  outline: none;
}

.form__input::placeholder {
  color: #c4c4c4;
}

.form__input:invalid {
  color: var(--pink);
}

.form__input_type_error {
  border-bottom: 1px var(--pink) solid;
  box-sizing: border-box;
}

.form__input-error {
  /*текст ошибки*/
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  min-height: 30px;
  color: var(--pink);
  padding: 0;
  margin: 5px 0 0;
}
