.form__button {
  background-color: var(--blue);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  border-radius: 3px;
  width: 396px;
  height: 45px;
  border: none;
  margin: 192px 0 16px;
}

@media screen and (max-width: 1200px) {
  .form__button {
    margin: 196px 0 16px;
  }
}

@media screen and (max-width: 720px) {
  .form__button {
    max-width: 260px;
    margin: 284px 0 14px;
    font-size: 12px;
  }
}

.form__button_type_reg {
  margin: 125px 0 16px;
}

@media screen and (max-width: 1200px) {
  .form__button_type_reg {
    margin: 126px 0 16px;
  }
}

@media screen and (max-width: 720px) {
  .form__button_type_reg {
    margin: 215px 0 16px;
  }
}
