.burger {
  width: 44px;
  height: 44px;
  position: relative;
  transition-duration: 1s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 5;
}

@media screen and (max-width: 720px) {
  .burger {
    width: 40px;
    height: 43px;
  }
}

.burger__icon {
  /*средняя полоска*/
  height: 3px;
  width: 29px;
  background-color: white;
  position: absolute;
  transition-duration: 0.25s;
  transition-delay: 0.25s;
  transition: scale 0.25s, top 0.25s 0.25s;
}

@media screen and (max-width: 720px) {
  .burger__icon {
    width: 22px;
    height: 2px;
  }
}

.burger__icon:before {
  /*верхняя полоска*/
  left: 0;
  position: absolute;
  top: -10px;
  height: 3px;
  width: 29px;
  background-color: white;
  content: "";
  transition-duration: 0.25s;
  transition: transform 0.25s, top 0.25s 0.25s;
}

@media screen and (max-width: 720px) {
  .burger__icon:before {
    width: 22px;
    height: 2px;
  }
}

.burger__icon:after {
  /*нижяя полоска*/
  left: 0;
  position: absolute;
  top: 10px;
  height: 3px;
  width: 29px;
  background-color: white;
  content: "";
  transition-duration: 0.25s;
  transition: transform 0.25s, top 0.25s 0.25s;
}

@media screen and (max-width: 720px) {
  .burger__icon:after {
    width: 22px;
    height: 2px;
  }
}

.burger_opened span {
  /*средняя полоска после преобразования*/
  transition-duration: 0.1s;
  transition-delay: 0.25s;
  background: transparent;
  height: 2px;
  width: 22px;
  margin: 0 auto;
}

.burger_opened span:before {
  /*верхняя полоска после преобразования*/
  transition: top 0.25s, transform 0.25s 0.25s;
  top: 0px;
  transform: rotateZ(-45deg);
  height: 2px;
  width: 22px;
}

.burger_opened span:after {
  /*нижяя полоска осле преобразования*/
  transition: top 0.4s, transform 0.25s 0.25s;
  top: 0px;
  transform: rotateZ(45deg);
  height: 2px;
  width: 22px;
}
