.about-project__size-container {
  padding: 110px 0 100px;
}

.about-project__subtitle {
  color: white;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  letter-spacing: -0.8px;
  line-height: normal;
  margin: 0 0 26px;
  padding: 0;
}

.about-project__container {
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 73px 0 115px;
}

.about-project__infographic {
  display: grid;
  grid-template-rows: 36px 36px;
  grid-template-columns: 228px auto;
  grid-row-gap: 7px;
  /* padding: 0 0 10px */
}

@media screen and (max-width: 768px) {
  .about-project__infographic {
    grid-template-columns: 140px auto;
  }
}

@media screen and (max-width: 320px) {
  .about-project__infographic {
    grid-template-columns: 100px auto;
  }
}

.about-project__column {
  max-width: calc(50%-20px); 
  /*размер контейнера напополам для двух столбцов минус промежуток между ними*/
}

.about-project__text_type_green-background {
  background-color: var(--green);
}

.about-project__text_type_grey-background {
  background-color: var(--middle-grey);
}

.about-project__text_type_weight500 {
  font-weight: 500;
}

.about-project__text {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin: 0;
  padding: 0;
  height: 36px;
}

@media screen and (max-width: 320px) {
  .about-project__text {
    font-size: 14px;
  }
}

.about-project__text_type_center {
  text-align: center;
  line-height: 36px;
}

.about-project__text_type_black {
  color: black;
}

.about-project__text_type_grey {
  color: var(--grey);
}

