.block-learn-more {
  padding: 50px 0 80px;
}

.block-learn-more__button {
  width: 100%;
  margin: auto;
  background-color: var(--middle-grey);
  border-radius: 6px;
  height: 36px;
  width: 1140px;
  color: #ffffff;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  border: none;
}