.page-not-found {
  display: flex;
  margin: 0 auto;
  padding: 246px 0 60px;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 394px;
}

@media screen and (max-width: 1200px) {
  .page-not-found {
    padding: 408px 0 60px;
  }
}

@media screen and (max-width: 720px) {
  .page-not-found {
    padding: 330px 0 60px;
  }
}

.page-not-found__code {
  text-align: center;
  font-size: 140px;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 720px) {
  .page-not-found__code {
    font-size: 80px;
  }
}

.page-not-found__text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin: 2px 0 0;
}

@media screen and (max-width: 720px) {
  .page-not-found__text {
    font-size: 12px;
    margin: 7px 0 0;
  }
}

.page-not-found__link {
  color: var(--blue);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 184px auto 0;
  background-color: transparent;
  border: none;
  width: 200px;
}

@media screen and (max-width: 720px) {
  .page-not-found__link {
    font-size: 12px;
    margin: 287px 0 0;
  }
}
