/* * {
  border: 1px solid red;
} */

.root {
  background-color: rgba(32, 32, 32, 1);
  min-height: 100vh;

}

.page {
  /* max-width: 1140px; */
  display: grid;
  margin: 0 auto;
  display: grid;
/* grid-template-columns: 70px 1fr 70px; */
grid-template-rows: repeat(3, auto);

  
  grid-template-areas:
    "header"
    "content"
    "footer";
  box-sizing: border-box;
  font-family: Inter, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  /* min-height: 100vh; */
}

@media screen and (max-width: 768px) {
  .page {
    grid-template-rows: 30px auto 30px;
  }
}

@media screen and (max-width: 600px) {
  .page {
    grid-template-rows: 14px auto 14px;
  }
}

.content {
  grid-area: content;
}

.size-container { /*организовать через глобальную переменную*/
  /* display: flex; */
  /* flex-direction: column; */
  
  max-width: 1140px;
  /* height: 100%; */
  margin: auto;
  padding: 0;
  
} 

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
