.input {
  box-sizing: border-box;
  padding-left: 10px;
  color: #000;
  border-radius: 4px;
  background: #2F2F2F;
  width: 100%;
  max-width: 684px;
  height: 54px;
  font-size: 14px;
  border: 0;
  border-radius: 3px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #767676;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#767676;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:#767676;
}

.search-form {
  padding: 80px 70px 10px;
}

/* border-bottom: 1px solid rgba(84, 84, 84, 0.7); */