.portfolio {

}

.portfolio__title {
  color: var(--grey);
  /* font-family: "Inter", "Arial", "sans-serif";
  font-style: normal; */
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  width: 250px;
  margin: 0 0 50px;
  padding: 0;
}

.portfolio__icon {
  color: white;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -1.2px;
  line-height: 60px;
  white-space: nowrap;

}


.portfolio__text {
  /* color: white;
  font-family: "Inter", Helvetica; */
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -1.2px;
  line-height: 50px;
  max-width: 1140px;
  margin: 0;
  padding: 0;
  /* text-decoration: none; */
}

@media screen and (max-width: 1200px) {
  .portfolio__text {
    font-size: 28px;
  }
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  border-bottom: solid rgba(66, 66, 66, 1) 1px;
  margin: 23px 0 0;
  height: 65px;
}

.portfolio__link:last-of-type {
  border: none;
}