.techs {
  background-color: var(--dark-grey);
}

.techs__size-container {
  padding: 100px 0 100px;
}

@media screen and (max-width: 1200px) {
  .techs__size-container {
    /* max-width: 668px; */
    padding: 90px 0 90px;
  }
}

.techs__subtitle {
  color: white;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 58px;
  text-align: center;
  padding: 0;
  margin: 85px auto 26px;

}

@media screen and (max-width: 1200px) {
  .techs__subtitle {
    margin: 80px auto 20px;
  }
}

.techs__text {
  color: white;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.56px;
  line-height: 20px;
  text-align: center;
  /* padding: 0; */
  margin: 0 auto;
  max-width: 460px;
}

@media screen and (max-width: 1200px) {
  .techs__text {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
  }
}

.techs__list {
  display: flex;
  gap: 10px;
  max-width: 690px;
  justify-content: center;
  align-items: center;
  margin: 100px auto 0;
  padding: 0;
  /* height: 60px; */
}

@media screen and (max-width: 1200px) {
  .techs__list {
    margin: 83px auto 0;
    max-width: 648px;
  }
}

.techs__box {
  background-color: var(--middle-grey);
  border-radius: 10px;
  height: 60px;
  width: 90px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

