.about-project__size-container {
  padding: 110px 0 93px;
}

@media screen and (max-width: 1200px) {
  .about-project__size-container {
    padding: 90px 0 80px;
    max-width: 668px;
  }
}

@media screen and (max-width: 720px) {
  .about-project__size-container {
    padding: 70px 0 50px;
    max-width: 292px;
  }
}

.about-project__container {
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 70px 0 112px;
}

@media screen and (max-width: 1200px) {
  .about-project__container {
    gap: 40px;
    padding: 70px 0 93px; /*1010*/
  }
}

@media screen and (max-width: 720px) {
  .about-project__container {
    flex-wrap: wrap;
    padding: 60px 0;
    gap: 56px;
  }
}

.about-project__subtitle {
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  letter-spacing: -0.8px;
  line-height: normal;
  margin: 0 0 26px;
}

@media screen and (max-width: 1200px) {
  .about-project__subtitle {
    margin: 0 0 20px;
  }
}

@media screen and (max-width: 720px) {
  .about-project__subtitle {
    font-size: 18px;
    letter-spacing: -0.72px;
    margin: 0 0 16px;
  }
}

.about-project__infographic {
  display: grid;
  grid-template-rows: 36px 36px;
  grid-template-columns: 228px auto;
  grid-row-gap: 12px;
}

@media screen and (max-width: 1200px) {
  .about-project__infographic {
    grid-template-columns: 140px auto;
    grid-row-gap: 7px;
  }
}

@media screen and (max-width: 720px) {
  .about-project__infographic {
    grid-template-columns: 100px auto;
  }
}

.about-project__column {
  max-width: calc(50%-20px);
  /*размер контейнера напополам для двух столбцов минус промежуток между ними*/
}

@media screen and (max-width: 1200px) {
  .about-project__column {
    max-width: calc(50%-15px);
  }
}

.infographic__text_type_green-background {
  background-color: var(--green);
}

.infographic__text_type_grey-background {
  background-color: var(--middle-grey);
}

.infographic__text_type_weight500 {
  font-weight: 500;
}

.about-project__text {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
}

@media screen and (max-width: 1200px) {
  .about-project__text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 720px) {
  .about-project__text {
    font-size: 11px;
    line-height: 16px;
  }
}

.infographic__text {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
}

@media screen and (max-width: 720px) {
  .infographic__text {
    font-size: 11px;
  }
}

.infographic__text_type_black {
  color: black;
}

.infographic__text_type_grey {
  color: var(--grey);
  line-height: 20px;
}
