.auth-container {
  padding: 70px 0; /*70 0 233 0*/
  max-width: 396px;
  margin: 0 auto;
  height: 100vh;
  min-height: 560px;
}

@media screen and (max-width: 1200px) {
  .auth-container {
    padding: 230px 0;
  }
}

@media screen and (max-width: 720px) {
  .auth-container {
    max-width: 260px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 57px 0;
    min-height: 694px;
  }
}

.auth-container__wellcome {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin: 40px 0 40px; /*80*/
}

@media screen and (max-width: 720px) {
  .auth-container__wellcome {
    text-align: center;
    margin: 48px 0 80px;
  }
}


.auth-container__form {
  width: 100%;
  margin: 40px 0 0;
}

.auth-container__change-form-text {
  color: var(--grey);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 720px) {
  .auth-container__change-form-text {
    font-size: 12px;
  }
}

.auth-container__change-form-text_type_link {
  color: var(--blue);
}

.auth-container__link-container {
  display: flex;
  gap: 6px;
  justify-content: center;
}