.footer {
  grid-area: footer; /*тут не работает*/
  padding: 65px 0 20px;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.footer__text {
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.footer__text_type_gray {
  color: #8b8b8b;
}

.footer__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.footer__line {
  max-width: 1140px;
  height: 1px;
  background: #424242;
}

.footer__size-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  /* margin: 0 auto; */
}


