.footer {
  grid-area: footer; /*тут не работает*/
  padding: 80px 0 20px;  
}

.footer__text {
  color: #ffffff;
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  margin: 0;
  padding: 0;
}

.footer__text_type_gray {
  color: #8b8b8b;
}

.footer__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.footer__line {
  max-width: 1140px;
  height: 1px;
  background: #424242;
}

.footer__size-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}


