.about-me {

}

.about-me__size-container {
  padding: 110px 0 125px;
}

.about-me__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-me__student {
  display: flex;
  justify-content: space-between;
  padding: 66px 0 100px;
}

.about-me__name {
  font-size: 50px;
  font-weight: 400;
   letter-spacing: -2px;
  line-height: 58px;
  width: 100%;
  margin: 0 0 18px;
  
}

.about-me__gihub {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.about-me__profession {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  max-width: 600px;
  /* margin: 0 0 30x; */
}

.about-me__info {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  max-width: 600px;
  margin: 26px 0 0;
}


.about-me__image {
  height: 327px;
  object-fit: cover;
  width: 270px;
  border: white 1px solid;
  border-radius: 10px;
}
