.request-message {
  animation: text 4s infinite ease-in-out;
  width: 100%;
  margin: 0 auto;
}

.container {
  color: rgba(238, 52, 101, 1);
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  padding: 0;
  font-size: 12px;
  position: relative;
  top: -20px;
}

@keyframes text {
  0%{
    transform: translate(0, 0);
    color: rgba(238, 52, 101, 1);
  }
  
  100%{
    transform: translate(-75%, 0);
    color: rgba(238, 52, 101, .1);
  }
}